@page "/user/home"

@inject IUserService userService
<h3>UserDetail</h3>

@if (!string.IsNullOrWhiteSpace(message))
{
    <span class="text-danger">@message</span>
}
<div class="card-body">
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit" FormName="UserUpdate">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="FullName">FullName</label>
            <InputText class="form-control" @bind-Value="Model.FullName" />
            <ValidationMessage For="@(() => Model.FullName)" />

            <label for="Surname">Surname</label>
            <InputText class="form-control" @bind-Value="Model.Surname" />
            <ValidationMessage For="@(() => Model.Surname)" />

            <label for="Email">Email</label>
            <InputText class="form-control" @bind-Value="Model.Email" />
            <ValidationMessage For="@(() => Model.Email)" />

            <label for="CellphoneNumber">Cellphone Number</label>
            <InputText class="form-control" @bind-Value="Model.CellphoneNumber" />
            <ValidationMessage For="@(() => Model.CellphoneNumber)" />


            <input type="submit" value="Submit" class="btn btn-primary" />

            <input type="button" value="Delete" class="btn btn-danger" @onclick="DeleteUser" />
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    UserModel Model { get; set; } = new UserModel();
}

@code {
    string message = string.Empty;
}

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetUser();
        }
    }
}

@code{
    private async Task HandleValidSubmit()
    {
        var response = await userService.UpdateUser(Model);

        if (response.Success)
            await GetUser();
        else
        {
            message = response.Message;
            await InvokeAsync(StateHasChanged);
        }

    }

    private async Task DeleteUser()
    {
        var response = await userService.DeleteUser();

        if (response.Success)
            manager.NavigateTo("/auth/logout");
        else
        {
            message = response.Message;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task GetUser()
    {
        var response = await userService.GetLoggedInUser();

        if (response.Success)
            Model = response.Data;
        else
            message = response.Message;

        await InvokeAsync(StateHasChanged);
    }
}
