@page "/group"

@inject IGroupService groupService

<h3>Group List</h3>

<a class="btn btn-primary" href="/group/create"><span class="oi oi-plus" aria-hidden="true"></span> Create </a>
<a class="btn btn-secondary" href="/group/join"><span class="oi oi-plus" aria-hidden="true"></span> Join With Code </a>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Group Id</th>
            <th>Group Name</th>
            <th>User Count</th>
            <th>Role in Group</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>
                    <a href="/group/@group.Id">
                        @group.Id
                    </a>
                </td>
                <td>@group.Name</td>
                <td>@group.UserCount</td>
                <td>@group.GroupRightsText</td>
                <td>
                    @if(group.GroupRights == 7)
                    {
                        <a href="#" @onclick="@(() => DeleteGroup(group.Id))">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<GroupListModel> Model = new List<GroupListModel>();
}

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetGroupList();
        }
    }
}

@code{
    private async Task DeleteGroup(int groupId)
    {
        await groupService.DeleteGroup(groupId);

        await GetGroupList();
    }

    private async Task GetGroupList()
    {
        Model = await groupService.GetGroupList();

        await InvokeAsync(StateHasChanged);
    }
}
